html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tfoot, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: Helvetica, Arial;
    vertical-align: baseline;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

blockquote, q {
    quotes: none;
}

blockquote {
    font-style: italic;
    border-left: 5px solid;
    margin-left: 2em;
    padding-left: 1em;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2.2857em;
    line-height: 1.3125em;
    letter-spacing: .01em;
}

h2 {
    font-size: 1.7142857em;
    line-height: 1.75em;
    margin-top: 1.75em;
    margin-bottom: .79167em;
}

h3 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.285714em;
    font-weight: bold;
    line-height: 1.1667em;
    margin-top: 2.33em;
    margin-bottom: 1.1667em;
}

a {
    text-decoration: none;
    color: white;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    margin-bottom: 1.5em;
}

ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

table li:last-child::after {
    content: none;
}

thead {
    font-weight: bold;
    letter-spacing: .01em;
}

thead th, tfoot th {
    padding: .2em .2em .2em .6em;
    text-transform: uppercase;
}

strong {
    font-weight: bold;
}

pre, code, tt {
    font-size: .875em;
    line-height: 1.75em;
}

h1 + h2 {
    margin-top: .2em;
    margin-bottom: 2.15em;
    font-size: .875em;
}

p + ul, h2 + ul, p + ol, h2 + ol {
    margin-top: -1em;
}

h3 + ul, h4 + ul, h5 + ul, h6 + ul, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
    margin-top: .5em;
}

h2, h3 {
    margin-bottom: .75em;
}

h2 {
    border-bottom: 5px solid lightSteelBlue;
}

h3 {
    border-bottom: 3px solid lightSteelBlue;
}

hr {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid;
    border-left: none;
}

pre code, code pre {
    font-size: 1.15em;
}

#bodyContent {
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 44em;
    top: 0;
    padding: 0 2em;
    margin-bottom: 0;
    margin-top: -1.5em;
    -webkit-box-shadow: 0 5px 15px black;
}

#content li {
    margin-bottom: 3px;
}

#firstHeading {
    position: relative;
    padding-top: 1em;
    color: white;
    text-align: center;
}

#infobox th {
    font-weight: bold;
}

#toc>li, #track > li {
    padding: 10px;
    font-size: 16px;
    font-style: normal;
}

.menucontainer {
    width: 20%;
    height: 90%;
    float: left;
    position: fixed;
    top: 0;
}

.img-frame {
    max-width: 100%;
    -webkit-border-radius: 5px;
    /*-webkit-box-shadow: black 0 0 10px;*/
    background: rgba(255, 255, 255, .95);
    padding: 3px;
    margin: 10px 0;
}

.table-frame {
    -webkit-border-radius: 5px;
    -webkit-box-shadow: black 0 0 10px;
}

button img {
    -webkit-border-radius: 0;
    -webkit-box-shadow: 0 0 0;
    background: transparent;
    padding: 0;
    margin: 0;
}

button {
    min-width: 60px;
}

.extension_options {
    margin-left: 5%;
    height: 50px;
    width: 90%;
}

.extension_options span {
    margin-right: 10px;
    padding: 25px 2px 0 2px;
    font-style: normal;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    height: 50px;
    cursor: pointer;
    background: #add8e6;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 1px 1px 5px;
}

.extension_options span:hover {
    background: #f08080;
}

p {
    text-align: justify;
}

