html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: Helvetica, Arial;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.415em;
    width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2.2857em;
    line-height: 1.3125em;
    letter-spacing: .01em;
}

h2 {
    font-size: 1.7142857em;
    line-height: 1.75em;
    margin-top: 1.75em;
    margin-bottom: .79167em;
}

h3 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.285714em;
    font-weight: bold;
    line-height: 1.1667em;
    margin-top: 2.33em;
    margin-bottom: 1.1667em;
}

a {
    text-decoration: none;
    color: white;
}

p, blockquote, div {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5em;
}

blockquote {
    font-style: italic;
    border-left: 5px solid;
    margin-left: 2em;
    padding-left: 1em;
}

ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

ul li {
    list-style: none;
    font-style: italic;
    list-style-position: inside;
}

thead {
    font-weight: bold;
    letter-spacing: .01em;
}

thead th, tfoot th {
    padding: .2em .2em .2em .6em;
    text-transform: uppercase;
}

td {
    vertical-align: top;
    padding: .2em .2em .2em .6em;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

pre, code, tt {
    font-size: .875em; /*12 / 14*/
    line-height: 1.75em; /*21 / 12*/
}

h1 {
    margin-bottom: 1em;
}

h1 + h2 {
    margin-top: .2em;
    margin-bottom: 2.15em;
    font-size: .875em;
}

p + ul, h2 + ul, p + ol, h2 + ol {
    margin-top: -1em;
}

h3 + ul, h4 + ul, h5 + ul, h6 + ul, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
    margin-top: .5em;
}

h2, h3 {
    margin-bottom: .75em;
}

hr {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid;
    border-left: none;
}

pre code, code pre {
    font-size: 1.15em;
}

#bodyContent {
    max-width: 48em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 14px;
    line-height: 1.5em;
    color: white !important;
}

#bodyContent div {
    margin-bottom: 1.5em;
}

#content {
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0px 0px 12px inset;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 48em;
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-box-shadow 1s linear;
    top: 0;
    color: #ffffff;
}

#content:hover {
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0px 0px 30px inset;
}

#firstHeading {
    position: relative;
    padding-top: 1em;
    color: white;
    text-align: center;
}

#infobox th {
    font-weight: bold;
}

table tr td, table tr th {
    border: 1px solid rgba(255, 255, 255, .1);
    text-align: center;
}

#toc>li, #track > li {
    padding: 10px;
    font-size: 16px;
    font-style: normal;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menucontainer {
    width: 20%;
    height: 100%;
    position: fixed;
}

img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: black 0 0 10px;
}

button {
    min-width: 60px;
}

.extension_options {
    margin-left: 5%;
    height: 50px;
    width: 90%;
}

.extension_options span {
    margin-right: 10px;
    padding: 25px 2px 0 2px;
    font-style: normal;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    height: 50px;
    cursor: pointer;
    background: #add8e6;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 1px 1px 5px;
}

.extension_options span:hover {
    background: #f08080;
}

table ul li {
    display: inline;
}

	