html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Helvetica, Arial;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.415em;
    width: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* headings */
h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2.2857em; /*32 / 14*/
    line-height: 1.3125em; /*42 / 32*/
    letter-spacing: .01em;
}

h2 {
    font-size: 1.7142857em; /*24 / 14*/
    line-height: 1.75em; /*42 / 24*/
    margin-top: 1.75em; /*42 / 24*/
    margin-bottom: .79167em; /*19 / 24*/
}

h3 {
    font-size: 1.5em; /*21 / 14*/
    margin-top: 2em; /*42 / 21*/
    margin-bottom: 1em; /*21 / 21*/
}

h4 {
    font-size: 1.285714em; /*18 / 14*/
    font-weight: bold;
    line-height: 1.1667em;
    margin-top: 2.33em; /*42 / 18*/
    margin-bottom: 1.1667em; /*21 / 18*/
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    text-decoration: underline;
}

/* block spacing */
p, blockquote, div {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5em;
}

div.readableLargeImageContainer, div.readableLargeObjectContainer {
    margin-bottom: 1.5em;
}

/* blockquote */
blockquote {
    font-style: italic;
    border-left: 5px solid;
    margin-left: 2em;
    padding-left: 1em;
}

ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

ul li {
    list-style: none;
    font-style: italic;
    list-style-position: inside;
}

thead {
    font-weight: bold;
    letter-spacing: .01em;
}

thead th, tfoot th {
    padding: .2em .2em .2em .6em;
    text-transform: uppercase;
}

th {
    text-align: left;
}

td {
    vertical-align: top;
    padding: .2em .2em .2em .6em;
}

/* formatting */
em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

/* preformatted */
pre, code, tt {
    font-size: .875em; /*12 / 14*/
    line-height: 1.75em; /*21 / 12*/
}

/* some fixes */
h1 {
    margin-bottom: 1em;
}

h1 + h2 {
    margin-top: .2em;
    margin-bottom: 2.15em;
    font-size: .875em;
}

p + ul, h2 + ul, p + ol, h2 + ol {
    margin-top: -1em;
}

h3 + ul, h4 + ul, h5 + ul, h6 + ul, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
    margin-top: .5em;
}

h2, h3 {
    margin-bottom: .75em;
}

hr {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid;
    border-left: none;
}

pre code, code pre {
    font-size: 1.15em;
}

#bodyContent {
    max-width: 48em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 14px;
    line-height: 1.5em;
    color: white !important;
}

#bodyContent div {
    margin-bottom: 1.5em;
}

#content {
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0px 0px 20px inset;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 48em;
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-box-shadow 1s linear;
    top: 0;
    color: #ffffff;
}

#content:hover {
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0px 0px 50px inset;
}

#firstHeading {
    position: relative;
    padding-top: 1em;
    color: white;
    text-align: center;
}

#infobox th {
    font-weight: bold;
}

table tr td {
    border: 1px solid rgba(255, 255, 255, .1);
    text-align: center;
}

table tr th {
    border: 1px solid rgba(255, 255, 255, .1);
    text-align: center;
}

#toc > li {
    padding: 10px;
    font-size: 16px;
    font-style: normal;
}

.sidebar_menu {
    width: 70px;
    height: 200%;
    -webkit-box-shadow: rgb(255, 255, 255) 0px 0px 5px inset;
    position: fixed;
    color: white;
    top: -5px;
    -webkit-transition: -webkit-box-shadow 1s linear;
}

.sidebar_menu:hover {
    -webkit-box-shadow: rgb(255, 255, 255) 0px 0px 15px inset;

}

/*.sidebar_menu >p {*/
/*margin: 24px 0 0 0px;*/
/*-webkit-box-shadow: black 0 0 10px inset;*/
/*padding: 10px 0 10px 0px;*/
/*font-weight: bold;*/
/*cursor: pointer;*/
/*text-align: center;*/
/*}*/

.sidebar_menu >p {
    margin: 20px 0 0 10px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 5px;
}

.close_icon {
    width: 24px;
    height: 24px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 0 40px inset;
    -webkit-border-radius: 20px;
    color: white;
    border: solid 2px;
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    padding: 1px;
    position: absolute;
    left: 18.5%;
    top: 5%;
    z-index: 100;
    cursor: pointer;
}

.close_icon >p {
    margin: -8px 0 0 2px;
    font-size: 35px;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menucontainer {
    width: 20%;
    height: 100%;
    position: fixed;
}

img {
    -webkit-border-radius: 5px;
    -webkit-box-shadow: black 0 0 10px;
}

button {
    min-width: 60px;
}

.extension_options {
    margin-left: 5%;
    height: 50px;
    width: 90%;
}

.extension_options span {
    margin-right: 10px;
    padding: 25px 2px 0 2px;
    font-style: normal;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    height: 50px;
    background: #f08080;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 1px 1px 5px;
}

.extension_options span:hover {
    background: #add8e6;
}

	