#suggestion {
    background: #F9F9F9;
    margin: 0 0 0 135px;
    list-style-type: none;
    font-size: 13px;
    box-shadow: green 0 0 10px;
    border: solid whiteSmoke;
    border-radius: 10px;
    font-family: sans-serif;
    width: 300px;

}

#suggestion li {
    padding: 5px;
    cursor: pointer;
}

.highlight {
    background: lightblue;
    border-radius: 5px;
}

#suggestion li:hover {
    border-radius: 5px;
    background: lightblue;
}

ul.cssTabs {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: inline;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 44em;
}

#toc {
    color: black;
    display: table;
    font-size: 13px;
    border-radius: 10px;
    font-family: sans-serif;
    border: solid whiteSmoke;
    box-shadow: green 0 0 10px;
    border-collapse: separate;
    line-height: 19px;
    background: #F9F9F9;
}

#toc ul {
    list-style-type: none;
}

#toc a {
    padding: 2px 0;
    display: block;
}

#toc a:hover{
    border-radius: 3px;
    background: lightblue;
}

#toc ul>li:last-child {
    padding-bottom: 0;
}

#toc li>ul {
    margin-left: 12px;
}

ul.cssTabs > li {
    background-color: rgb(249, 249, 249);
    color: #3a3a3a;
    display: inline-block;
    text-shadow: 1px 1px 0 #d3d3d3;
    margin-right: 20px;
}

li.unvailable{
    color: gray;
    padding: 10px 20px;
    cursor: not-allowed;
    border-right: 1px dotted rgb(220, 220, 220);  
}

li.contents{
    padding: 10px 20px;
    border-right: 1px dotted rgb(220, 220, 220); 
}

li.contents:hover {
    background-color: rgb(220, 220, 220);
    border-radius: 0 0 10px 10px;
}

#toolBar {
    position: fixed;
    border: solid whiteSmoke;
    border-radius: 0 0 10px 10px;
    height: 36px;
    width: auto;
    left: 5px;
    right: 5px;
    box-shadow: black 0 0 5px;
    background-color: rgb(249, 249, 249);
}

#toolBar input {
    float: left;
    width: 200px;
    margin-top: -5px;
}

#toolBar li>img {
    margin-left: -15px;
    margin-top: -1px;
}
